@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:ital@0;1&display=swap');


.start-button{
    background-color: #58aca8;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    width: 300px;
    color: white;
    font-family: 'Roboto';
    font-size: 30px;
}